<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>logged_out.html</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
  <h1 class="h3 mb-3 font-weight-normal">이용해 주셔서 감사합니다.<br>
      <a href="{% url 'login' %}">Log in again</a><br>
      <a href="{% url 'home' %}">Go To Home</a>
  </h1>

  </body>
</html>
