{% extends 'base.html' %}
{% block title %}
page_not_found.html
{% endblock %}

{% load static %}
{% block extrastyle %}{% static "css/error.css" %}{% endblock %}

{% block jumbo %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    요청하신 페이지를 찾을 수 없네요. 죄송합니다.
                </div>
                <div class="error-actions">
                    <a href="{% url 'todolist:index' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        홈으로 가기 </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}