<!--todo: crispy로 form 변경하기-->
{% extends "base.html" %}

{% block title %}card_form.html{% endblock %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
<form action="." method="post">{% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">할 일을 생성하거나 추가하세요.</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="저장하기"/>
                    {% if object %}
                    <a class="btn btn-danger" href="{% url 'todolist:card_delete' object.work.id object.id %}">삭제하기</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</form>
{% endblock %}
