{% block content %}
<div class="d-flex flex-nowrap">
    {% if object_list %}
    <!--object_list가 있으면 worklist 출력 후 마지막에 Add another worlist 출력-->
        {% for worklist in object_list %}
            <div class="col-8 col-md-3">
                <div class="p-2 worklist">
                    <div class="p-2 worklist-title">
                        {{ worklist.name }}
                        <button type="button" class="btn float-right see-more">...</button>
                    </div>
                    {% if worklist.card_set.all %}
                    <!--worklist에 card가 있으면 card 출력 후 마지막에 Add another card 출력 -->
                    {% for card in worklist.card_set.all %}
                            <div class="p-2 mycard-content">
                                <div class="p-2 mycard-title">
                                    {{ card.name }}
                                </div>
                                <div class="p-2 mycard-status">
                                    <i>card status</i>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <!--worklist에 card가 없으면 Add a card 출력-->
                    <div class="p-2 mycard-content">
                            <div class="p-2 mycard-title">
                                +Add a card
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if forloop.last %}
            <!--object_list가 있을 때 마지막 worklist 출력 후 Add another worklist 출력-->
                <div class="col-8 col-md-3">
                    <div class="p-2 worklist">
                        <div class="p-2 worklist-title">
                            +Add another worklist
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <!--object_list가 없으면 worklist 생성 버튼만 출력-->
    <div class="col-8 col-md-3">
        <div class="p-2 worklist">
            <div class="p-2 worklist-title">
                +Add a worklist
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}