{% extends "base.html" %}
{% block title %}worklist_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "workmanagement/workmanagement.css" %}{% endblock %}

{% block content %}
<div class="d-flex flex-nowrap">
    {% if object_list %}
    <!--object_list가 있으면 worklist 출력 후 마지막에 +Add another worlist 출력-->
        {% for worklist in object_list %}
            <div class="col-8 col-md-3">
                <div class="p-2 worklist">
                    <a href="{% url 'workmanagement:worklist_update' worklist.id %}">
                        <div class="p-2 worklist-title">
                            {{ worklist.name }}
                        </div>
                    </a>
                    <a href="{% url 'workmanagement:worklist_delete' worklist.id %}">
                        <div>
                            삭제하기
                        </div>
                    </a>
                    {% if worklist.card_set.all %}
                    <!--worklist에 card가 있으면 card 출력 후 마지막에 +Add another card 출력 -->
                        {% for card in worklist.card_set.all %}
                            <div class="p-2 mycard-content">
                                <a href="{% url 'workmanagement:card_update' worklist.id card.id %}">
                                    <div class="p-2 mycard-title">
                                        {{ card.name }}
                                    </div>
                                    <div class="p-2 mycard-status">
                                        {% if card.description %}
                                            <button type="button" class="btn btn-info">Info</button>
                                        {% endif %}
                                        {% if card.deadline_date %}
                                            <button type="button" class="btn btn-danger">
                                                {{ card.deadline_date|date:"M j"}}</button>
                                        {% endif %}
                                    </div>
                                </a>
                                <a href="{% url 'workmanagement:card_delete' worklist.id card.id %}">삭제하기</a>
                            </div>
                            {% if forloop.last %}
                            <!--card가 있을 때 마지막 card 출력 후 +Add another card 출력-->
                            <div class="p-2 mycard-content">
                                <a href="{% url 'workmanagement:card_add' worklist.id %}">
                                <div class="p-2 mycard-title">
                                    +Add another card
                                </div>
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <!--worklist에 card가 없으면 +Add a card 출력-->
                        <div class="p-2 mycard-content">
                            <a href="{% url 'workmanagement:card_add' worklist.id %}">
                            <div class="p-2 mycard-title">
                                +Add a card
                            </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if forloop.last %}
            <!--object_list가 있을 때 마지막 worklist 출력 후 +Add another worklist 출력-->
                <div class="col-8 col-md-3">
                    <div class="p-2 worklist">
                        <a href="{% url 'workmanagement:worklist_add' %}">
                            <div class="p-2 worklist-title">
                                +Add another worklist
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <!--object_list가 없으면 +Add a worklist 출력-->
    <div class="col-8 col-md-3">
        <div class="p-2 worklist">
            <a href="{% url 'workmanagement:worklist_add' %}">
                <div class="p-2 worklist-title">
                    +Add a worklist
                </div>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}