{% extends "base.html" %}

{% block title %}worklist_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "workmanagement/workmanagement.css" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div id="container">
    <div class="row">
        <div class="col-8 col-md-3">
            <div class="p-2 worklist">
                <div class="p-2 worklist-title">
                    <form action="." method="post">{% csrf_token %}
                        {% if form.errors %}
                        <p class="errornote">Wrong! Please correct the error(s) below.</p>
                        {% endif %}

                        <p>Create or Update your worklist.</p>

                        <fieldset class="aligned">
                            <div class="form-row">
                                {{ form|crispy }}
                            </div>
                        </fieldset>
                        <div class="form-row">
                            <input type="submit" class="btn btn-success" value="Submit"/>
                        </div>
                        <script type="text/javascript">document.getElementById('id_name').focus();</script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}