{% extends "base.html" %}
{% block title %}worklist_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "workmanagement/workmanagement.css" %}{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
    {% if object_list %}
        {% for worklist in object_list %}
        <div class="col-md-2 worklist">
            <p><b><i>{{ worklist.name }} </i></b>
            <span><a href="#">edit</a></span>
            <span><a href="#">delete</a></span></p>
                {% if worklist.card_set.all %}
                    {% for card in worklist.card_set.all %}
                        <p>{{card.name}}
                        <span><a href="#">edit</a></span>
                        <span><a href="#">delete</a></span></p>
                        {% if forloop.last %}
                            <p><a href="{% url 'workmanagement:card_add' worklist.id %}">+Add another card</a></p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p><a href="{% url 'workmanagement:card_add' worklist.id %}">+Add a card</a></p>
                {% endif %}
        </div>
            {% if forloop.last %}
                <div class="col-md-2 worklist">
                    <p><a href="{% url 'workmanagement:worklist_add' %}">+Add another worklist</a></p>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="worklist">
            <a href="{% url 'workmanagement:worklist_add' %}">+Add a worklist</a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}