div {
    border-radius: 7px;
}

.worklist {
    background-color:#dfe1e6;
}

.worklist-title {
    font-weight:bold;
    margin-bottom: 5%
}
.mycard-content {
    background-color:#fff;
    margin-bottom: 4%;
}

.mycard-title {
    background-color:#fff;
}

.mycard-status {
    background-color:#fff;
}

.worklist-title:last-child{
    background-color:#dfe1e6;
    margin-bottom: 2%;
}

.mycard-title:last-child {
    font-weight:400;
    color:#6b778c;
    background-color:#dfe1e6;
    margin-bottom: 0%;
    padding: 0;
}

.mycard-content:last-child {
    background-color:#dfe1e6;
    margin-bottom: 0%;
    padding: 0;
}

.main-href {
    color: black;
}

.btn-submit {

}